* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /* background-color: #e8f5e9; */
background-color: #e8f5e9;
}


.color-div{
    padding-top: 15px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: aqua ; */
    height: 20vh;
    gap: 0.5vw;
    /* border: 2px solid black; */
}

.childcolor-div{
    /* border: 2px solid black; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 44px;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: rgb(249, 255, 255);
    border-radius: 7px;
    padding-top: 2px;
}

.span1{
    height: 20%;
    /* border: 2px solid black; */
  cursor: pointer;
    /* background-color: aqua; */
}

.span2{
    height: 20%;
  cursor: pointer;
    /* border: 2px solid black; */
    /* background-color: aqua; */
}

#main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    height: 35%;
    border: 3px solid black;
    background-color: #e8f5e9;
    border-radius: 14px;
}

.input {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 35px;
    background-color: #e3ede4;
    border-radius: 10px;
}

.btn {
    width: 70px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    
}

.btn3,
.btn7,
.btn11,
.btn15,
.btn19 {
    background-color: rgba(0, 0, 255, 0.841);
    color: white;
}

.btn1,
.btn2 {
    background-color: rgba(195, 194, 194, 0.923);
}

.btn4,
.btn5,
.btn6,
.btn8,
.btn9,
.btn10,
.btn12,
.btn13,
.btn14,
.btn16,
.btn17,
.btn18 {
    background-color: rgb(249, 255, 255);
    
}
.btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.mystyle{
    color: white;
    background-color: rgba(207, 187, 187, 0.692);
}

.mstyle{
    color: white;
    background-color: rgb(15, 150, 222); 
}

.input1{
    background-color: rgb(46, 44, 44);
    color: white;
}

.color2{
    background-color: rgb(47, 43, 43);
}
.change{
    color: white;
}

@media screen and (max-width: 450px) {
    table{
        border: none;
        width: 100%;
    }
}